<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>

<h3>查看书籍</h3>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a href="/books/add/" class="btn btn-primary">添加书籍</a>
             <table class="table table-bordered table-hover table-striped">
                  <thead>
                        <tr>
                             <th>编号</th>
                             <th>书籍名称</th>
                             <th>价格</th>
                             <th>出版日期</th>
                             <th>出版社</th>
                             <th>作者</th>
                             <th>操作</th>
                        </tr>
                  </thead>
                 <tbody>
                       {% for book in book_list %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                           <td>{{ book.title }}</td>
                           <td>{{ book.price }}</td>
                           <td>{{ book.pub_date|date:"Y-m-d" }}</td>
                           <td>{{ book.publish.name }}</td>
                           <td>
                               {% for author in book.authors.all %}
                               <span>{{ author.name }}</span>
                               {% if not forloop.last %}
                               ,
                               {% endif %}
                               {% endfor %}

                           </td>

                           <td>
                               <a href="/books/delete/{{ book.pk }}" class="btn btn-danger btn-sm">删除</a>
                               <a href="/books/edit/{{ book.pk }}" class="btn btn-warning btn-sm">编辑</a>
                           </td>
                       </tr>

                       {% endfor %}

                 </tbody>
             </table>
        </div>
    </div>
</div>
<script src="/static/js/jquery.js"></script>
<script>
    $("h3").click(function () {
        $(this).css("color","green")
    })
</script>
</body>
</html>